openapi: 3.0.3
info:
  title: Dokumen API Peta Pedia
  description: API untuk mendapatkan data region dan jalan
  version: 1.0.11
servers:
  - url: https://asia-southeast2-awangga.cloudfunctions.net/petabackend
tags:
  - name: data
    description: Data Geo Spasial
paths:
  /data/gis/lokasi:
    post:
      tags:
        - data
      summary: Get Data Region
      description: Desa/Kelurahan Kecamatan Kabupaten Provinsi
      security:
        - token: []
      operationId: getGeoJSON
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LongLat'
            example:
              long: 107.5758500037501
              lat: -6.874720427234501
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataRegionResponse'
        '400':
          description: Invalid status value
  /data/gis/jalan:
    post:
      tags:
        - data
      summary: Get Data Roads
      description: Mendapatkan jalan di sekitar titik
      security:
        - token: []
      operationId: getGeoJSON
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LongLat'
            example:
              long: 107.5758500037501
              lat: -6.874720427234501
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Roads'
        '400':
          description: Invalid status value
components:
  schemas:
    LongLat:
      type: object
      properties:
        long:
          type: number
          format: float
        lat:
          type: number
          format: float
      required:
        - long
        - lat
    DataRegionResponse:
      type: object
      properties:
        province:
          type: string
        district:
          type: string
        sub_district:
          type: string
        village:
          type: string
    Roads:
      type: object
      properties:
        type:
          type: string
          example: "Feature"
        geometry:
          type: object
          properties:
            type:
              type: string
              example: "LineString"
            coordinates:
              type: array
              items:
                type: array
                items:
                  type: number
                  format: float
        properties:
          type: object
          properties:
            name:
              type: string
